{% extends "base.html" %}

{% block app_content %}
<h1>Hi, {{ current_user.nom }}!</h1>
{% if formulaire %}
<form action="" method="post">
    {{ formulaire.hidden_tag() }}
    <p>
        {{ formulaire.publication.label }}<br>
        {{ formulaire.publication(cols=32, rows=4) }}<br>
        {% for error in formulaire.publication.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ formulaire.submit() }}</p>
</form>
{% endif %}
{% for publication in publications %}
<div>
    {% include '_publication.html' %}
</div>
{% endfor %}
{% if url_precedent %}
<a href="{{url_precedent}}">Précédent</a>
{% endif %}
{% if url_suivant %}
<a href="{{url_suivant}}">Suivant</a>
{% endif %}
{% endblock %}